In [1]:
import pandas as pd
# https://github.com/keertipurswani/MachineLearningTutorials/blob/main/Pandas/pandas_tutorial.ipynb | https://www.youtube.com/watch?v=KlN8xaeI-tg

In [2]:
data = [1,2,3,4,5]
index = ['a','b','c','d','e']
series = pd.Series(data, index=index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['c0','c1','c2'], index=['r0','r1','r2'])
print(df)
# df.to_excel

    c0  c1  c2
r0   1   2   3
r1   4   5   6
r2   7   8   9

In [4]:
df.columns # column labels

Index(['c0', 'c1', 'c2'], dtype='object')

In [5]:
df.index # row labels

Index(['r0', 'r1', 'r2'], dtype='object')

In [6]:
df.size # number of elements in the dataframe

9

In [7]:
df.shape # number of rows and columns

(3, 3)

In [8]:
df.info() # concise summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, r0 to r2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c0      3 non-null      int64
 1   c1      3 non-null      int64
 2   c2      3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [9]:
obesity_data = pd.read_csv('./obesity_prediction.csv')

In [10]:
obesity_data.head() # print first five rows (for quick testing)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [11]:
obesity_data.tail() # print last five rows (for quick testing)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [12]:
obesity_data.head(3) # I want to see the first 3 rows

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight

In [13]:
obesity_data.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
749,Male,21.0,1.617469,68.869791,no,yes,1.206276,3.0,no,no,2.406541,no,0.94984,0.479221,Sometimes,Public_Transportation,Overweight_Level_I

In [14]:
obesity_data.sample(10) # randomly select 10 rows

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
595,Male,17.210933,1.819557,58.325122,yes,yes,2.559600,4.000000,Sometimes,no,2.000000,no,2.000000,0.331483,no,Automobile,Insufficient_Weight
1333,Female,22.875223,1.624367,82.000000,yes,yes,1.826885,1.000000,Sometimes,no,2.000000,no,0.000000,0.459274,no,Public_Transportation,Obesity_Type_I
1752,Male,27.266287,1.828276,120.872294,yes,yes,2.637202,3.000000,Sometimes,no,2.966647,no,1.159598,0.758897,Sometimes,Public_Transportation,Obesity_Type_II
880,Female,18.947102,1.518917,60.267427,no,yes,2.838037,2.737571,Sometimes,no,1.144467,yes,0.753782,1.286844,Sometimes,Public_Transportation,Overweight_Level_I
261,Female,28.000000,1.700000,73.000000,yes,no,2.000000,3.000000,Frequently,no,2.000000,yes,2.000000,0.000000,Sometimes,Walking,Overweight_Level_I
1657,Male,27.186873,1.679515,102.872802,yes,yes,2.667229,1.097490,Sometimes,no,1.225958,no,0.206954,1.003011,no,Public_Transportation,Obesity_Type_II
3,Male,27.000000,1.800000,87.000000,no,no,3.000000,3.000000,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
808,Male,21.618246,1.679306,75.000000,yes,yes,2.000000,3.000000,Sometimes,no,1.957871,no,0.994592,0.117303,Sometimes,Public_Transportation,Overweight_Level_I
1586,Male,25.509034,1.772190,114.097656,yes,yes,2.193310,3.000000,Sometimes,no,2.089983,no,1.360994,0.857438,Sometimes,Public_Transportation,Obesity_Type_II
704,Male,20.738469,1.759933,55.003417,yes,yes,2.627031,3.832911,Sometimes,no,2.993448,no,2.000000,1.425903,no,Public_Transportation,Insufficient_Weight

In [15]:
obesity_data.sample(10, random_state=42)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
544,Female,20.406871,1.755978,53.699561,yes,yes,2.000000,3.891994,Frequently,no,1.863930,no,2.870127,2.000000,no,Public_Transportation,Insufficient_Weight
1987,Female,26.000000,1.624950,111.004920,yes,yes,3.000000,3.000000,Sometimes,no,2.704315,no,0.000000,0.322666,Sometimes,Public_Transportation,Obesity_Type_III
420,Male,18.000000,1.850000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
527,Female,21.000000,1.520000,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
196,Male,22.000000,1.750000,74.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,2.000000,Sometimes,Bike,Normal_Weight
744,Male,18.000000,1.738702,50.248677,yes,yes,1.871213,3.000000,Sometimes,no,1.283738,no,0.684879,1.487223,Sometimes,Public_Transportation,Insufficient_Weight
1635,Male,26.684354,1.819535,118.332689,yes,yes,1.975675,3.000000,Sometimes,no,2.357969,no,0.704236,0.010721,Sometimes,Public_Transportation,Obesity_Type_II
324,Female,30.000000,1.650000,71.000000,yes,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1449,Female,23.099906,1.571812,78.997166,yes,yes,2.000000,1.000000,Sometimes,no,2.000000,no,0.402614,0.000000,no,Public_Transportation,Obesity_Type_I
634,Female,23.000000,1.710129,50.079991,yes,yes,2.000000,3.000000,Frequently,no,2.685842,no,0.373186,2.000000,no,Public_Transportation,Insufficient_Weight

In [16]:
obesity_data.sample(10, random_state=42) # randomly select 10 rows with a specific seed for reproducibility (42)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
544,Female,20.406871,1.755978,53.699561,yes,yes,2.000000,3.891994,Frequently,no,1.863930,no,2.870127,2.000000,no,Public_Transportation,Insufficient_Weight
1987,Female,26.000000,1.624950,111.004920,yes,yes,3.000000,3.000000,Sometimes,no,2.704315,no,0.000000,0.322666,Sometimes,Public_Transportation,Obesity_Type_III
420,Male,18.000000,1.850000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
527,Female,21.000000,1.520000,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
196,Male,22.000000,1.750000,74.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,2.000000,Sometimes,Bike,Normal_Weight
744,Male,18.000000,1.738702,50.248677,yes,yes,1.871213,3.000000,Sometimes,no,1.283738,no,0.684879,1.487223,Sometimes,Public_Transportation,Insufficient_Weight
1635,Male,26.684354,1.819535,118.332689,yes,yes,1.975675,3.000000,Sometimes,no,2.357969,no,0.704236,0.010721,Sometimes,Public_Transportation,Obesity_Type_II
324,Female,30.000000,1.650000,71.000000,yes,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1449,Female,23.099906,1.571812,78.997166,yes,yes,2.000000,1.000000,Sometimes,no,2.000000,no,0.402614,0.000000,no,Public_Transportation,Obesity_Type_I
634,Female,23.000000,1.710129,50.079991,yes,yes,2.000000,3.000000,Frequently,no,2.685842,no,0.373186,2.000000,no,Public_Transportation,Insufficient_Weight

In [17]:
list(obesity_data.columns)

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [18]:
obesity_data.index

RangeIndex(start=0, stop=2111, step=1)

In [19]:
obesity_data.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [20]:
obesity_data.shape # (rows, columns)

(2111, 17)

In [21]:
obesity_data.size # total number of elements (rows * columns)

35887

In [22]:
obesity_data.describe() # summary statistics for numerical columns

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [23]:
obesity_data.info() # concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [24]:
# Accessing data (access data for a particular row, for a particular column, for a group of rows or group of columns)

In [25]:
# loc stands for location
# iloc stands for integer location
obesity_data.loc[0, 'Age'] # access data for the first row and the 'Age' column

np.float64(21.0)

In [26]:
obesity_data.head(1)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight

In [27]:
obesity_data.loc[0:10, 'Age'] # access data for a slice of rows and the 'Age' column

0     21.0
1     21.0
2     23.0
3     27.0
4     22.0
5     29.0
6     23.0
7     22.0
8     24.0
9     22.0
10    26.0
Name: Age, dtype: float64

In [28]:
obesity_data.loc[0:10, ['Age', 'Height']] # access data for a slice of rows and a list of columns

     Age  Height
0   21.0    1.62
1   21.0    1.52
2   23.0    1.80
3   27.0    1.80
4   22.0    1.78
5   29.0    1.62
6   23.0    1.50
7   22.0    1.64
8   24.0    1.78
9   22.0    1.72
10  26.0    1.85

In [29]:
obesity_data.loc[0:10, 'Age': 'NCP'] # access data for a slice of rows and a range of columns

     Age  Height  Weight family_history FAVC  FCVC  NCP
0   21.0    1.62    64.0            yes   no   2.0  3.0
1   21.0    1.52    56.0            yes   no   3.0  3.0
2   23.0    1.80    77.0            yes   no   2.0  3.0
3   27.0    1.80    87.0             no   no   3.0  3.0
4   22.0    1.78    89.8             no   no   2.0  1.0
5   29.0    1.62    53.0             no  yes   2.0  3.0
6   23.0    1.50    55.0            yes  yes   3.0  3.0
7   22.0    1.64    53.0             no   no   2.0  3.0
8   24.0    1.78    64.0            yes  yes   3.0  3.0
9   22.0    1.72    68.0            yes  yes   2.0  3.0
10  26.0    1.85   105.0            yes  yes   3.0  3.0

In [30]:
obesity_data.loc[0:10] # access data for a slice of rows and all columns

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I

In [31]:
obesity_data.loc[:, 'Age': 'FAF'] # access data for all rows and a range of columns

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
0,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000
1,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000
2,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000
3,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000
4,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269
2107,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390
2108,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209
2109,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107
2110,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452

In [32]:
obesity_data.loc[8:20, 'Age':'FAF'] # access data for a range of rows and a range of columns

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
8,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
9,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0
10,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0
11,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0
12,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0
13,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0
14,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0
15,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0
16,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0
17,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0
18,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0
19,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0
20,22.0,1.65,80.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,3.0

In [33]:
obesity_data.loc[:20, 'Age':'FAF'] # access data for a range of rows and a range of columns

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
0,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0
1,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0
2,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0
3,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0
4,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0
5,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0
6,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
7,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0
8,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
9,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0
10,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0
11,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0
12,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0
13,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0
14,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0
15,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0
16,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0
17,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0
18,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0
19,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0
20,22.0,1.65,80.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,3.0

In [34]:
obesity_data.loc[2100:, 'Age':'FAF']

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
2100,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787
2101,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329
2102,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246
2103,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639
2104,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398
2105,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332
2106,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269
2107,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390
2108,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209
2109,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107
2110,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452

In [35]:
obesity_data.iloc[0:10, 0:5] # access data using integer location for a range of rows and a range of columns

   Gender   Age  Height  Weight family_history
0  Female  21.0    1.62    64.0            yes
1  Female  21.0    1.52    56.0            yes
2    Male  23.0    1.80    77.0            yes
3    Male  27.0    1.80    87.0             no
4    Male  22.0    1.78    89.8             no
5    Male  29.0    1.62    53.0             no
6  Female  23.0    1.50    55.0            yes
7    Male  22.0    1.64    53.0             no
8    Male  24.0    1.78    64.0            yes
9    Male  22.0    1.72    68.0            yes

In [36]:
obesity_data.iloc[:, 0:5]

      Gender        Age    Height      Weight family_history
0     Female  21.000000  1.620000   64.000000            yes
1     Female  21.000000  1.520000   56.000000            yes
2       Male  23.000000  1.800000   77.000000            yes
3       Male  27.000000  1.800000   87.000000             no
4       Male  22.000000  1.780000   89.800000             no
...      ...        ...       ...         ...            ...
2106  Female  20.976842  1.710730  131.408528            yes
2107  Female  21.982942  1.748584  133.742943            yes
2108  Female  22.524036  1.752206  133.689352            yes
2109  Female  24.361936  1.739450  133.346641            yes
2110  Female  23.664709  1.738836  133.472641            yes

[2111 rows x 5 columns]

In [37]:
obesity_data.iloc[[10, 20, 30], [0,1,2]] # access data using integer location for specific rows and specific columns

   Gender   Age  Height
10   Male  26.0    1.85
20   Male  22.0    1.65
30   Male  29.0    1.77

In [38]:
obesity_data.iloc[0:10] # access data using integer location for a range of rows and all columns

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

In [39]:
# at, iat for Single Value Access (pandas is built on top of numpy)

In [40]:
obesity_data.at[0, 'Age'] # access a single value for a specific row and specific column

np.float64(21.0)

In [41]:
obesity_data.iat[0, 5] # access a single value for a specific row and specific column using integer location

'no'

In [42]:
obesity_data[['Age', 'Height', 'Weight']] # access data for a list of columns

            Age    Height      Weight
0     21.000000  1.620000   64.000000
1     21.000000  1.520000   56.000000
2     23.000000  1.800000   77.000000
3     27.000000  1.800000   87.000000
4     22.000000  1.780000   89.800000
...         ...       ...         ...
2106  20.976842  1.710730  131.408528
2107  21.982942  1.748584  133.742943
2108  22.524036  1.752206  133.689352
2109  24.361936  1.739450  133.346641
2110  23.664709  1.738836  133.472641

[2111 rows x 3 columns]

In [43]:
obesity_data['Age'] # access data for a single column

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [44]:
obesity_data.Age # access data for a single column

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [45]:
obesity_data.head(20) # access data for the first 20 rows

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [46]:
obesity_data.loc[obesity_data['Height']>1] # access data for rows where the 'Height' column is greater than 1

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [47]:
obesity_data.loc[obesity_data['Weight']<50]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.000000,1.560000,49.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,yes,2.000000,0.000000,no,Walking,Normal_Weight
37,Female,21.000000,1.600000,48.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.000000,1.500000,44.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
60,Female,21.000000,1.550000,49.000000,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,3.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
75,Female,23.000000,1.630000,45.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,yes,2.000000,0.000000,no,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [48]:
obesity_data.loc[(obesity_data['Weight']<50) & (obesity_data['Obesity'] == 'Normal_Weight')] # access data for rows where the 'Weight' column is less than 50 and the 'Obesity' column is 'Normal_Weight'

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [49]:
obesity_data.loc[(obesity_data['Weight']<50) | (obesity_data['Obesity'] == 'Normal_Weight')] # access data for rows where the 'Weight' column is less than 50 or the 'Obesity' column is 'Normal_Weight'. boolean indexing (filtering)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.000000,3.000000,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
6,Female,23.000000,1.500000,55.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [50]:
# shorthand notation for loc
obesity_data[obesity_data['Height']>1] # access data for rows where the 'Height' column is greater than 1

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [51]:
obesity_data.loc[obesity_data['Obesity'].str.contains('Normal')] # access data for rows where the 'Obesity' column contains 'Normal'

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [52]:
obesity_data.loc[obesity_data['Obesity'].str.startswith('Weight')] # access data for rows where the 'Obesity' column starts with 'Weight'

Empty DataFrame
Columns: [Gender, Age, Height, Weight, family_history, FAVC, FCVC, NCP, CAEC, SMOKE, CH2O, SCC, FAF, TUE, CALC, MTRANS, Obesity]
Index: []

In [53]:
obesity_data[obesity_data['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [54]:
# Updating Data using loc

In [55]:
obesity_data.loc[0,'Age'] = 22

In [56]:
obesity_data.head(0)

Empty DataFrame
Columns: [Gender, Age, Height, Weight, family_history, FAVC, FCVC, NCP, CAEC, SMOKE, CH2O, SCC, FAF, TUE, CALC, MTRANS, Obesity]
Index: []

In [57]:
obesity_data.head(1)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight

In [58]:
obesity_data.loc[:, 'SMOKE'] = 'Yes' # update data for all rows in the 'SMOKE' column

In [59]:
obesity_data.tail(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,Yes,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,Yes,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,Yes,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,Yes,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,Yes,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,Yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,Yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,Yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,Yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,Yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [60]:
obesity_data=pd.read_csv('./obesity_prediction.csv') # to get the old data back

In [61]:
obesity_data.loc[[2,3], 'Height'] = 1.6 # update data for specific rows and specific columns

In [62]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [63]:
obesity_data.loc[:2, 'SMOKE'] = 'may be' # update data for a range of rows and a specific column

In [64]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,may be,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [65]:
# loc is label-based, which means that you have to specify rows and columns based on their row and column labels.
# iloc is integer index based, so you have to specify rows and columns by their integer index.

In [66]:
obesity_data.iloc[1,4] = 'no data' # update data for a specific row(1st row) and a specific column(4th column) using integer location

In [67]:
obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,may be,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [68]:
data = {
    'Weight': [45, 55, 60, 48, 70],
    'Obesity': ['Normal_Weight', 'Overweight', 'Obese', 'Normal_Weight', 'Overweight']
}
data_obesity = pd.DataFrame(data)
data_obesity.index = ['A', 'B', 'C', 'D', 'E']  # Setting custom row labels

In [69]:
data_obesity.head()

   Weight        Obesity
A      45  Normal_Weight
B      55     Overweight
C      60          Obese
D      48  Normal_Weight
E      70     Overweight

In [70]:
# Selecting rows with labels 'A' and 'D'
selected_rows = data_obesity.loc[['A', 'D']]
print(selected_rows)

   Weight        Obesity
A      45  Normal_Weight
D      48  Normal_Weight

In [71]:
"""
When using the loc method in pandas, the first parameter you pass is used to select rows based on their labels. Here's a breakdown of why loc[['A', 'D']] selects rows:

Row Selection: The loc method is label-based and primarily used for selecting rows. When you pass a list of labels (like ['A', 'D']), pandas interprets these as row labels and selects the corresponding rows.

Column Selection: To select columns, you would need to use the second parameter of loc. For example, loc[:, ['Weight', 'Obesity']] would select the columns Weight and Obesity.
"""

"\nWhen using the loc method in pandas, the first parameter you pass is used to select rows based on their labels. Here's a breakdown of why loc[['A', 'D']] selects rows:\n\nRow Selection: The loc method is label-based and primarily used for selecting rows. When you pass a list of labels (like ['A', 'D']), pandas interprets these as row labels and selects the corresponding rows.\n\nColumn Selection: To select columns, you would need to use the second parameter of loc. For example, loc[:, ['Weight', 'Obesity']] would select the columns Weight and Obesity.\n"

In [72]:
selected_rows = data_obesity.loc[['A', 'D'], 'Weight']
print(selected_rows)

A    45
D    48
Name: Weight, dtype: int64

In [73]:
obesity_data.iloc[:,9] = 'doesnt matter' # update data for all rows in the 10th column using integer location

In [74]:
obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,doesnt matter,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,doesnt matter,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,doesnt matter,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,doesnt matter,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,doesnt matter,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,doesnt matter,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,doesnt matter,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,doesnt matter,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,doesnt matter,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [75]:
# at is label-based, which means that you have to specify rows and columns based on their row and column labels.
# iat is integer index based, so you have to specify rows and columns by their integer index.
obesity_data.at[2,'Obesity'] = 'Overrrr' # update data for a specific row(2nd row) and a specific column using labels

In [76]:
obesity_data.head(3)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr

In [77]:
obesity_data.iat[2,0] = 'Secret'

In [78]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [79]:
obesity_data['SMOKE'] = 'yes' # update data for all rows in the 'SMOKE' column | This code is a shorthand notation for the loc function. The equivalent expression using loc would be: obesity_data.loc[:, 'SMOKE'] = 'yes'

In [80]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [81]:
# Transform Data using apply()
def increment_age_by_5(x):
    return x+5

obesity_data['Age'] = obesity_data['Age'].apply(increment_age_by_5) # increment the 'Age' column by 5 for each row, apply works on column or row basis of a DataFrame, applymap works element-wise on a DataFrame, and map works element-wise on a Series.

obesity_data['Age']

0       26.000000
1       26.000000
2       28.000000
3       32.000000
4       27.000000
          ...
2106    25.976842
2107    26.982942
2108    27.524036
2109    29.361936
2110    28.664709
Name: Age, Length: 2111, dtype: float64

In [82]:
obesity_data['Age'] = obesity_data['Age'].apply(lambda x : x - 5)
obesity_data['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [83]:
# create a new column 'Age Category' based on the 'Age' column
obesity_data['Age Category'] = obesity_data['Age'].apply(lambda x : 'Very Young' if x<25 else 'Not so young')

In [84]:
obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,Not so young
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,Very Young
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,Not so young
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,Not so young
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Not so young
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,Not so young
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,Not so young
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,Very Young

In [85]:
# Transform or add new data using where()
import numpy as np

obesity_data['New Age Category'] = np.where(obesity_data['Age'] < 25, 'Very Young', 'Not so young')
obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,Not so young,Not so young
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,Very Young,Very Young
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,Not so young,Not so young
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,Not so young,Not so young
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Not so young,Not so young
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,Not so young,Not so young
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,Not so young,Not so young
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,Very Young,Very Young

In [86]:
obesity_data.insert(2, 'BMI', 20) # insert a new column 'BMI' at index 2 with a default value of 20

In [87]:
obesity_data.head(20)

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,20,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,20,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,20,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,20,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
5,Male,29.0,20,1.62,53.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,Not so young,Not so young
6,Female,23.0,20,1.50,55.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,Very Young,Very Young
7,Male,22.0,20,1.64,53.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
8,Male,24.0,20,1.78,64.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
9,Male,22.0,20,1.72,68.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
10,Male,26.0,20,1.85,105.0,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,Not so young,Not so young
11,Female,21.0,20,1.72,80.0,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
12,Male,22.0,20,1.65,56.0,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
13,Male,41.0,20,1.80,99.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,Not so young,Not so young
14,Male,23.0,20,1.77,60.0,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
15,Female,22.0,20,1.70,66.0,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
16,Male,27.0,20,1.93,102.0,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Not so young,Not so young
17,Female,29.0,20,1.53,78.0,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,Not so young,Not so young
18,Female,30.0,20,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,Not so young,Not so young
19,Female,23.0,20,1.65,70.0,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,Very Young,Very Young

In [88]:
obesity_data.drop(columns='BMI') # remove the 'BMI' column, but it will not modify the dataframe in place

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,yes,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.000000,1.520000,56.000000,no data,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.000000,1.600000,77.000000,yes,no,2.0,3.0,Sometimes,yes,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.000000,1.600000,87.000000,no,no,3.0,3.0,Sometimes,yes,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,yes,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young

In [89]:
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,20,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,20,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,20,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,20,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [90]:
obesity_data.drop(columns='BMI', inplace=True)

In [91]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [92]:
obesity_data.insert(2, 'BMI', obesity_data['Weight']/obesity_data['Height']**2) # insert a new column 'BMI' at index 2 with the calculated BMI values

In [93]:
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,24.386526,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,24.238227,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,30.078125,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,33.984375,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,28.342381,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [94]:
obesity_data = obesity_data.drop(columns='BMI')# another way of not using inplace by using just assigning the value to the variable

In [95]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [96]:
obesity_data.insert(2, 'BMI', obesity_data['Weight']/obesity_data['Height']**2)

In [97]:
obesity_data.insert(2, 'BMI new', obesity_data['Weight']/obesity_data['Height']**2)

In [98]:
obesity_data.head()

,Gender,Age,BMI new,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,...,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,24.386526,24.386526,1.62,64.0,yes,no,2.0,3.0,...,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,24.238227,24.238227,1.52,56.0,no data,no,3.0,3.0,...,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,30.078125,30.078125,1.60,77.0,yes,no,2.0,3.0,...,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,33.984375,33.984375,1.60,87.0,no,no,3.0,3.0,...,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,28.342381,28.342381,1.78,89.8,no,no,2.0,1.0,...,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [99]:
obesity_data.drop(columns=['BMI', 'BMI new'], inplace=True) # remove multiple columns

In [100]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [101]:
del obesity_data['CAEC'] # another way of removing a column using the del keyword, modifies the original dataframe

In [102]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [103]:
obesity_data.rename(columns={'Obesity': 'Category', 'New Age Category' : 'reduntant info'}, inplace=True)

In [104]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category,reduntant info
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [105]:
del obesity_data['reduntant info']

In [106]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [107]:
# Merging DataFrames | inner, outer, left, right joins
df1 = pd.DataFrame({
    'id' : [1,2,3,4],
    'name' : ['Keerti', 'Amit', 'Educosys', 'YouTube']
})

df2 = pd.DataFrame({
    'id' : [3,4, 5, 6],
    'course' : ['GenAI', 'CPP', 'HLD', 'LLD']
})
df2.head()

   id course
0   3  GenAI
1   4    CPP
2   5    HLD
3   6    LLD

In [108]:
df1.head()

   id      name
0   1    Keerti
1   2      Amit
2   3  Educosys
3   4   YouTube

In [109]:
inner_result = pd.merge(df1, df2, how='inner', on='id') # merge based on the 'id' column with an inner join
inner_result

   id      name course
0   3  Educosys  GenAI
1   4   YouTube    CPP

In [110]:
outer_result = pd.merge(df1, df2, how='outer', on='id')
outer_result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys  GenAI
3   4   YouTube    CPP
4   5       NaN    HLD
5   6       NaN    LLD

In [111]:
left_result = pd.merge(df1, df2, how='left', on='id')
left_result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys  GenAI
3   4   YouTube    CPP

In [112]:
right_result = pd.merge(df1, df2, how='right', on='id')
right_result

   id      name course
0   3  Educosys  GenAI
1   4   YouTube    CPP
2   5       NaN    HLD
3   6       NaN    LLD

In [113]:
df3 = pd.DataFrame({
    'id1' : [1,2,3,4],
    'name' : ['Keerti', 'Amit', 'Educosys', 'YouTube']
})

df4 = pd.DataFrame({
    'id2' : [3,4, 5, 6],
    'course' : ['GenAI', 'CPP', 'HLD', 'LLD']
})

inner_result = pd.merge(df3, df4, how='inner', left_on='id1', right_on='id2')
inner_result

   id1      name  id2 course
0    3  Educosys    3  GenAI
1    4   YouTube    4    CPP

In [114]:
# Concatenating DataFrames (combining two dataframes)
df1 = pd.DataFrame({
    'id' : [1,2,3,4],
    'name' : ['Keerti', 'Amit', 'Educosys', 'YouTube']
})

df2 = pd.DataFrame({
    'id' : [3,4, 5, 6],
    'course' : ['GenAI', 'CPP', 'HLD', 'LLD']
})

result = pd.concat([df1, df2], axis=0, ignore_index=True) # stacked vertically, ignore_index=True to reset the index
result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys    NaN
3   4   YouTube    NaN
4   3       NaN  GenAI
5   4       NaN    CPP
6   5       NaN    HLD
7   6       NaN    LLD

In [115]:
result2 = pd.concat([df1, df2], axis=1) # stacked horizontally
result2

   id      name  id course
0   1    Keerti   3  GenAI
1   2      Amit   4    CPP
2   3  Educosys   5    HLD
3   4   YouTube   6    LLD

In [116]:
result3 = pd.concat([df1, df2], axis=0, keys=['df1', 'df2']) # stacked vertically with keys to create a hierarchical/ multi level index
result3

       id      name course
df1 0   1    Keerti    NaN
    1   2      Amit    NaN
    2   3  Educosys    NaN
    3   4   YouTube    NaN
df2 0   3       NaN  GenAI
    1   4       NaN    CPP
    2   5       NaN    HLD
    3   6       NaN    LLD

In [117]:
# Handling Null Values | isna(), notna(), fillna(), dropna

In [119]:
# How to detect the null values | How to handle the null values
# First lets see how to detect the null values

In [120]:
result3.isna() # returns a DataFrame of the same shape as the original DataFrame, where each element is True if the corresponding element in the original DataFrame is NaN, and False otherwise. True if the values are missing/ NaN, False otherwise. null values

          id   name  course
df1 0  False  False    True
    1  False  False    True
    2  False  False    True
    3  False  False    True
df2 0  False   True   False
    1  False   True   False
    2  False   True   False
    3  False   True   False

In [121]:
result3.notna() # returns a DataFrame of the same shape as the original DataFrame, where each element is False if the corresponding element in the original DataFrame is NaN, and True otherwise. False if the values are missing/ NaN, True otherwise. non-null values

         id   name  course
df1 0  True   True   False
    1  True   True   False
    2  True   True   False
    3  True   True   False
df2 0  True  False    True
    1  True  False    True
    2  True  False    True
    3  True  False    True

In [122]:
result3.isna().sum() # returns the number of missing values in each column of the DataFrame

id        0
name      4
course    4
dtype: int64

In [123]:
result3.notna().sum()

id        8
name      4
course    4
dtype: int64

In [124]:
# How to handle the null values

In [125]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [126]:
obesity_data.loc[0, 'Age'] = np.nan # set the 'Age' value for the first row to NaN
obesity_data.loc[0, 'SMOKE'] = np.nan
obesity_data.loc[2, 'family_history'] = np.nan

In [127]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,NaN,1.62,64.0,yes,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.0,1.60,77.0,NaN,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [128]:
obesity_data.fillna(0, inplace=True) # Wherever you find null data replace it with 0

In [129]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,0.0,1.62,64.0,yes,no,2.0,3.0,0,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.0,1.60,77.0,0,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [130]:
obesity_data.loc[0, 'Age'] = np.nan
obesity_data.loc[0, 'SMOKE'] = np.nan
obesity_data.loc[2, 'family_history'] = np.nan
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,NaN,1.62,64.0,yes,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.0,1.60,77.0,NaN,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [131]:
obesity_data['Age'] = obesity_data['Age'].fillna(obesity_data['Age'].mean()) # replace missing values in the 'Age' column with the mean of the column

In [132]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.00000,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.00000,1.60,77.0,NaN,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,27.00000,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [133]:
obesity_data.fillna({'SMOKE': 'no', 'family_history': 'no'}, inplace=True) # replace missing values in 'SMOKE' and 'family_history' columns with 'no'

In [134]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.00000,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.00000,1.60,77.0,no,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,27.00000,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [135]:
obesity_data.loc[3, 'Age'] = np.nan
obesity_data.loc[0, 'SMOKE'] = np.nan
obesity_data.loc[2, 'family_history'] = np.nan
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.00000,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.00000,1.60,77.0,NaN,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,NaN,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [136]:
obesity_data['Age'] = obesity_data['Age'].fillna(obesity_data['Age'].interpolate()) # replace missing values in the 'Age' column with interpolated values, interpolate() - Fill NaN values using linear interpolation.

In [137]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.00000,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Secret,23.00000,1.60,77.0,NaN,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrrr,Very Young
3,Male,22.50000,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [138]:
obesity_data.dropna(inplace=True) # remove rows with missing values

In [139]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
3,Male,22.5,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,Not so young
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,Very Young

In [140]:
obesity_data.dropna(axis = 1) # remove columns with missing values

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
1,Female,21.000000,1.520000,56.000000,no data,no,3.0,3.0,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Very Young
3,Male,22.500000,1.600000,87.000000,no,no,3.0,3.0,yes,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,Not so young
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,yes,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,Very Young
5,Male,29.000000,1.620000,53.000000,no,yes,2.0,3.0,yes,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight,Not so young
6,Female,23.000000,1.500000,55.000000,yes,yes,3.0,3.0,yes,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight,Very Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,Very Young
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,Very Young
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,Very Young
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,Very Young
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,Very Young

In [141]:
# GroupBy
"""
groupby is like sorting items into different buckets and then performing calculations on each bucket separately.

Think of it as organizing a classroom of students:


You separate students into groups based on one characteristic (like gender)
Then you calculate something for each group (like average height)
"""
obesity_data.groupby('Gender').count() # group the data based on the Gender column and count the number of occurrences in each group

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
Gender,,,,,,,,,,,,,,,,
Female,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042
Male,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067

In [142]:
obesity_data.groupby('Gender')['Height'].mean()
"""
This code calculates the mean height for each gender group in the DataFrame.

It works by:


Using groupby('Gender') to split the data into groups based on gender values
Selecting just the 'Height' column from each group with ['Height']
Calculating the average height within each gender group using mean()
The result will be a pandas Series with gender categories as the index and their respective average heights as values. Based on your data sample (which shows only females), it would return a Series with at least one entry for "Female" and its corresponding average height
"""

Gender
Female    1.643320
Male      1.758464
Name: Height, dtype: float64

In [143]:
obesity_data.groupby('Gender')['Weight'].median()

Gender
Female    78.004194
Male      89.981680
Name: Weight, dtype: float64

In [144]:
obesity_data.groupby('Gender')['Weight'].agg(['sum', 'mean']) # calculate the sum and mean of the 'Weight' column for each

                 sum       mean
Gender
Female  85777.365833  82.319929
Male    96864.802872  90.782383